
.navigation-container {
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.8);
  .navigation-form {
    .input-field {
      padding: 10px 24px;
      background: #FFFFFF;
      border: none;
      outline: none;
      font-family: $montserrat;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      color: #494949;
      width: 100%;
      border-radius: 10px;
    }
    .dropdown-container {
      width: 100%;
      select {
        width: 100%;
        padding: 8px 24px;
        background: #FFFFFF;
        border: none;
        outline: none;
        font-family: $montserrat;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        color: #494949;
        border-radius: 10px;
      }
    }
  }
}