.app-container {
  background: linear-gradient(286.74deg, #3CDBC0 0%, #387F97 100%);
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}